services:
  nextjs:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: nextjs
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:5000/api/v1
      - NEXT_PUBLIC_API_STATIC_URL=http://backend:5000/uploads
    depends_on:
      - express
    networks:
      - app-network

  express:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: express
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
