@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;

    /* Colors */
    --primary-color: "#3366FF";
    --secondary-color: "#F0F4FF";
    --text-color: "#000000";
    --disabled-color: "#B3B3B3";

    /* Button */
    --button-background: "#3366FF";
    --button-text: "#ffffff";
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html {
    font-family: var(--font-inter), sans-serif;
}

h1 {
    font-family: var(--font-roboto-mono), monospace;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
